.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
Dashboard
*/

.navigate_container{
  display: flex;
}

.navigate {
  padding: 0;
  border: none;
  background: pink;
  width: 25%;
}

.title{
  text-align: center;
}

.budget_form {
  text-align: center;
}

.budget{
  text-align: center;
}

.new_purchase {
  text-align: center;
}

.amount_form {
  text-align: center;
}

.add {
  padding: 30px;
  border: none;
  background: lightblue;
}

.add {
  text-align: center;
}

.money_left {
  text-align: center;
}

.feedback {
  text-align: center;
}